# Forçar LF para arquivos de código
*.js  text eol=lf
*.ts  text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md  text eol=lf
*.sh  text eol=lf

# Deixa o Git gerenciar outros arquivos de texto automaticamente
* text=auto